{{define "cardsvw" }}
<div class="cardsvw">
    
    {{ with.ViewCache.cardsvw }}
    {{ range.Cards }}
    <div class="cardsvw-card" x-data>
        {{if .VM}}
        <i class="fa-solid fa-cloud cardsvw-card__icon" ></i>
        {{end}}
        {{if .Hardware}}
        <i style="left: 4.5rem" class="fa-solid fa-server cardsvw-card__icon" ></i>
        {{end}}
        <p>{{.Enterprise}}</p>
        <div class="zonetbl-container">
          <table class="zone-table">
            <thead>
              <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i style="color: red;" class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
                <td><i style="color: red;" class="fa-solid fa-square"></i></td>
                <td><i class="fa-solid fa-square"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    {{end}}
{{end}}
{{end}}