{{define "cardsvw" }}
<div class="cards-ctnr">
  <div class="select-ctnr">
    <div 
      class="select-ctnr__cntrl"
      hx-post="/element/event/click"
      hx-swap="innerHTML"
      hx-target=".cardsvw"
      hx-trigger="click"
      hx-vals='js:{
      "type": "caret",
      "label": event.target.innerText,
      "view_id": "cardsvw",
      "view_str": "test" }'
    >
      <button type="button" @click="">Unigy</button>
      <button type="button" @click="">ComitFS</button>
      <button type="button" @click="">IntraComm</button>
      <button type="button" @click="">NTR</button>
      <button type="button" @click="">VFC</button>
    </div>
  </div>
  <div class="cardsvw">
    
    {{ with.ViewCache.cardsvw }}
    {{ range.Cards }}
    <div class="cardsvw-card">
        {{if .VM}}
        <i class="fa-solid fa-cloud cardsvw-card__icon" ></i>
        {{end}}
        {{if .Hardware}}
        <i style="left: 4.5rem" class="fa-solid fa-server cardsvw-card__icon" ></i>
        {{end}}
        <p>{{.Enterprise}}</p>
        <div class="zonetbl-container">
        
          {{ $zones := .Zones }}
         
          <table class="zone-table">
            <thead>
              <tr>
                {{range $zone := $zones}}
                <th>{{$zone.Zid}}</th>
                {{end}}
              </tr>
            </thead>
            <tbody>
              <tr>
                {{range $zone := $zones}}
                 
                {{if eq $zone.Ccm1.State "online"}}
                <td><i style="color: green" class="fa-solid fa-square"></i></td>
                {{else}}                                 
                <td><i style="color: red" class="fa-solid fa-square"></i></td>
                {{end}}

                {{end}}
              </tr>
              <tr>
                {{range $zone := $zones}}
                                               
                {{if eq $zone.Ccm2.State "online"}}
                  <td><i style="color: green" class="fa-solid fa-square"></i></td>
                {{else}}                                 
                  <td><i style="color: red" class="fa-solid fa-square"></i></td>
                {{end}}
                {{end}}
                
              </tr>
            </tbody>
          </table>
         
        </div>
        
    </div>
{{end}}
{{end}}
</div>
</div>

{{end}}
