{{define "header"}}

<div class="hdr" x-data>
  <div class="hdr__nav" @click.outside="$store.hdrData.onOutsideClick(event)">
    <img src="/html/img/exops.png" alt="" class="hdr__nav--img">
  
    <div class="hdr__dropdown"  >
      <button class="hdr__dropbtn" @click="$store.hdrData.onClick($event)">
        <span>View</span>
        <i class="fa fa-caret-down"></i>
      </button>
      <div 
        class="hdr__dropdown-content" 
        id="myDropdown" 
        @click="$store.hdrData.onElementClick(event)"
        hx-post="/element/event/click" 
        hx-swap="internalHTML settle:1" 
        hx-trigger="click"
        hx-target=".main"
        hx-vals='js:{
          "type": "button",
          "label": event.target.innerText,
          "view_id": "headervw",
          "view_str": "" }'
        >
        <a href="#">Cards</a>
        <a href="#">Table</a>
        <a href="#">List</a>
      </div>
    </div> 
  </div>
  <div class="hdr__control hdr__control--space-around">
    <i 
      class="fa-solid fa-circle-plus hdr__icon" 
      hx-post="/element/event/click" 
      hx-swap="internalHTML settle:1" 
      hx-trigger="click"
      hx-target=".main"
      hx-vals='{
        "type": "button",
        "label": "upload",
        "view_id": "headervw",
        "view_str": ""
      }'>
    </i>
    
    <i 
      class="fa-solid fa-gear hdr__icon" 
      hx-post="/element/event/click" 
      hx-swap="internalHTML settle:1" 
      hx-trigger="click"
      hx-target=".main"
      hx-vals='{
        "type": "button",
        "label": "settings",
        "view_id": "headervw",
        "view_str": ""
      }'>
    </i>
    
    <a href="#" class="hdr__nav-stats">Logout</a>
  </div>
</div>

{{ end }}
