{{define "settings-modal"}}

<!-- The Modal -->
<div id="myModal" class="settings-modal"  x-data>
    <!-- Modal content -->
    <div class="settings-modal__header">
      <h2>Settings</h2>   
      <span class="close" @click="$store.settings.onCloseClick($event)">&times;</span>   
    </div>
    <hr>
    <div class="settings-modal__container">
      <div class="menu">
       <ul class="" @click="$store.settings.onMenuClick($event)">
        <li>General</li>
        <li>Test</li>
        <li>Unigy Database</li>
        <li>Item 3</li>
        <li>Item 4</li>
       </ul>
      </div>
      <div class="page">
        <div class="page__general">
          <div class="login-container">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <button type="submit">Login</button>
            </form>
          </div>
        </div>
        <div class="page__test">
          <div class="container">
            <p>This is a test button</p>
            <button 
              type="button"
              hx-post="/element/event/click" 
              hx-swap="none" 
              hx-trigger="click"
              hx-target=""
              hx-vals='{
                "type": "button",
                "label": "Test Button",
                "view_id": "settingsvw",
                "view_str": ""
              }'>Test Button</button>
          </div> 
          <div class="container">
            <p>This is a test button2</p>
            <button 
              type="button"
              hx-post="/element/event/click" 
              hx-swap="none" 
              hx-trigger="click"
              hx-target=""
              hx-vals='{
                "type": "button",
                "label": "Test Button2",
                "view_id": "settingsvw",
                "view_str": ""
              }'>Test Button2</button>
          </div>          
        </div>
        <div class="page__unigydb">
          <form action="/url" method="GET">
            <p>Enter IP Address of Unigy System:</p>
            <input type="text" name="ip" placeholder="xxx.xxx.xxx.xxx">
            <button 
              type="button"
              hx-post="/element/event/click" 
              hx-swap="none" 
              hx-trigger="click"
              hx-target=""
              hx-vals='{
                "type": "button",
                "label": "Enter Button",
                "view_id": "settingsvw",
                "view_str": ""
              }'>Enter</button>

              <button 
              type="button"
              hx-post="/element/event/click" 
              hx-swap="none" 
              hx-trigger="click"
              hx-target=""
              hx-vals='{
                "type": "button",
                "label": "Close Button",
                "view_id": "settingsvw",
                "view_str": ""
              }'>Close</button>
          </form>
        </div>
      </div>
      
    </div>
  
</div>

{{end}}