{{define "settings-modal"}}

<!-- The Modal -->
<div id="myModal" class="settings-modal" x-data="settings">
  <!-- Modal content -->
  <div class="settings-modal__header">
    <h2>Settings</h2>
    <span class="close" @click="onCloseClick($event)">&times;</span>
  </div>
  <hr />
  <div class="settings-modal__container">
    <div class="menu">
      <ul class="" @click="onMenuClick($event)">
        <li>General</li>
        <li>Unigy Data Synch</li>
        <li>Dev</li>
      </ul>
    </div>
    <div class="page">
      <div class="page__general">
        <span>This is the General Page</span>
      </div>
      <div style="display: none" class="page__unigy-data-synch"
        hx-post="/element/event/click"
        hx-swap="none"
        hx-target=""
        hx-trigger="click"
        hx-vals='js:{
        "type": "button",
        "label": event.target.innerText,
        "view_id": "settingsvw",
        "view_str": "" }'
      >
      {{ with.ViewCache.settingsvw }}
        <p>Last Synch: {{.LastSynchTIme}}</p>
      {{end}}
        <button>Zone Data Synch</button>
        <button>Target Synch</button>
        <button>Device Synch</button>
      </div>
      <div class="page__dev">
        <div class="container">
          <button
            type="button"
            hx-post="/element/event/click"
            hx-swap="none"
            hx-trigger="click"
            hx-target=""
            hx-vals='{
                "type": "button",
                "label": "Test Button",
                "view_id": "settingsvw",
                "view_str": ""
              }'
          >
            Test Button
          </button>
        </div>
        <div class="container">
          <button
            type="button"
            hx-post="/element/event/click"
            hx-swap="none"
            hx-trigger="click"
            hx-target=""
            hx-vals='{
                "type": "button",
                "label": "Test Button2",
                "view_id": "settingsvw",
                "view_str": ""
              }'
          >
            Test Button2
          </button>
        </div>
        <div class="container">
          <button
            type="button"
            hx-post="/element/event/click"
            hx-swap="none"
            hx-trigger="click"
            hx-target=""
            hx-vals='{
                "type": "button",
                "label": "Test Button3",
                "view_id": "settingsvw",
                "view_str": ""
              }'
          >
            Test Button3
          </button>
        </div>
        <div class="container">
          <button
            type="button"
            hx-post="/element/event/click"
            hx-swap="none"
            hx-trigger="click"
            hx-target=""
            hx-vals='{
                "type": "button",
                "label": "Test Button4",
                "view_id": "settingsvw",
                "view_str": ""
              }'
          >
            Test Button4
          </button>
        </div>
        <div class="landingspot">

        </div>
      </div>
      
    </div>
  </div>
</div>

{{end}}
