{{define "side-nav-categories"}} 

<div class="sidenav__btnlist" x-data="sidenav">
  <span>Categories</span>
  <input
    type="search"
    name="search"
    placeholder="Begin Typing To Search..."
    x-model="list_search"
    @keyup="onSearchChange($el)"
    @search="onSearchChange($el)"
  />
  <ul class="sidenav__ul">
    {{with.Tmplt.sidenav}}
    {{range.Data}}
    <li
      class=""
      @click="onElementClick($el)"
      hx-post="/element/event/click"
      hx-swap="outerHTML swap:.1s"
      hx-target=".sidenav__btnlist"
      hx-trigger="click"
      hx-vals='js:{
      "type": "caret",
      "label": "{{.Lbl}}",
      "view_id": "sidenav",
      "view_str": "{{.ID}}",
      test: Alpine.store("data_store")()
      }'
    >
      <p>{{.Lbl}}</p>
      <i id="" class="{{.Class}}"></i>
    </li>
    <div id="{{.ID}}" class="list_container">{{template "partial1" .}}</div>

    {{end}}
    {{end}}
    
    <!--Data-->
  </ul>

</div>
{{end}}
