{{define "snippets1"}}
{{if .Caret}}
    <ul>
        <li>Test1</li>
        <li>Test2</li>
        <li>Test3</li>
    </ul>
{{end}}
{{end}}

{{define "snippets2"}}
    <ul>
        <li>Test4</li>
        <li>Test5</li>
        <li>Test6</li>
    </ul>
{{end}}

{{define "snippets3"}}
<ul class="list_container__ul">
    {{if .Caret}}
    {{range .EntList}}
        <li
          class=""
          hx-post="/element/event/click"
          hx-swap="innerHTML"
          hx-target=".activity-main"
          hx-trigger="click"
          hx-vals='js:{
          "type": "button",
          "label": "{{.}}",
          "view_id": "sidenav",
          "view_str": "" }'>
          {{.}}
        </li>
    {{end}}
    {{end}}
</ul>
{{end}}

{{define "snippets4"}}

{{end}}

{{define "snippets5"}}

{{end}}

{{define "snippets6"}}

{{end}}

{{define "snippets7"}}

{{end}}

{{define "snippets8"}}

{{end}}

{{define "snippets9"}}

{{end}}

{{define "snippets10"}}

{{end}}

