{{define "snippets1"}}
{{if .Caret}}
    <ul>
        <li>Test1</li>
        <li>Test2</li>
        <li>Test3</li>
    </ul>
{{end}}
{{end}}

{{define "snippets2"}}
    <ul>
        <li>Test4</li>
        <li>Test5</li>
        <li>Test6</li>
    </ul>
{{end}}

{{define "snippets3"}}

{{end}}

{{define "snippets4"}}

{{end}}

{{define "snippets5"}}

{{end}}

{{define "snippets6"}}

{{end}}

{{define "snippets7"}}

{{end}}

{{define "snippets8"}}

{{end}}

{{define "snippets9"}}

{{end}}

{{define "snippets10"}}

{{end}}

