{{define "test-modal"}}

<!-- The Modal -->
<div id="myModal" class="fileupload-modal"  x-data>

    <!-- Modal content -->
    <div class="fileupload-modal__content" @click.outside="$store.modalData.onOutsideClick(event)">
      <span class="close" @click="$store.modalData.onCloseClick($event)">&times;</span>
      <form id='form' hx-encoding='multipart/form-data' hx-post='/upload' hx-swap="none" class="upload-form">        

        <div class="upload-form__container">
          <input type="file" id="fileInput" name="myFile" @change.debounce="$store.modalData.onChange($event)"/>
          <button type="button" class="upload-form__button" @click="$store.modalData.onFileClick($event)">File Chooser</button>
          <h3 id="fileChoice">No File Chosen</h3>  
        </div>
        
        <button type="submit" class="buttons">
            Upload
        </button>
        <progress id='progress' value='0' max='100' class="progress"></progress>
      </form>
    </div>
  
</div>

<script>
  htmx.on('#form', 'htmx:xhr:progress', function(evt) {
    htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
  });
</script>

{{end}}