.main-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin: 0rem 0 2rem 0;
  width: 100%;
  height: 100%;
  // overflow: auto;

  &__right-nav {
    position: sticky;
    top: 20px;

    margin-top: 2rem;
    width: 27rem;
    background: $color-secondary-dark;
    height: auto;
    max-height: 80rem;

    border-radius: 0.7rem;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    font-size: 1.7rem;
    font-family: sans-serif;
    // transition: display 1s ease-in;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__right-nav-select {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // background: $color-secondary-dark;
    // height: 30rem;
    // width: 25rem;
    border-radius: 1rem;
    background-color: $color-secondary-dark;
    margin: 2rem 0 0 2rem;
  }

  &__right-nav__cntrl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 0 1rem;
  }

  & button {
    height: 4rem;
    width: 20rem;
    background-color: #0964b0;
    color: white;
    outline: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
  }
}

.select-ctnr {
  position: sticky;
  top: 20px;
  display: block;
  width: 25rem;
  background: $color-secondary-dark;
  height: 60rem;
  margin: 2rem 1rem 0 1rem;
  border-radius: 0.7rem;
  box-shadow: 0 1rem 2rem rgba(black, 0.2);
  font-size: 1.7rem;
  font-family: sans-serif;
  transition: display 1s ease-in;

  &__cntrl {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    // height: 30rem;
    width: 25rem;
    border-radius: 1rem;
    background-color: transparent;
    margin-top: 2rem;

    & button {
      height: 4rem;
      width: 20rem;
      background-color: #0964b0;
      color: white;
      outline: 1px solid #ccc;
      border-radius: 0.5rem;
      margin: 1rem 0 1rem 0;
    }

    & button:hover {
      outline: 1px solid black;
    }

    & button:focus {
      background-color: #40a9bf;
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 2rem 0 2rem 0;

  &--card {
    position: relative;
    height: 30rem;
    min-width: 40rem;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    // background-color: #0b4975;
    background-color: $color-primary-dark;
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px #131212;
    border-radius: 1rem;

    &__icon {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      align-self: center;
      color: #eee;
      height: 1rem;

      transform: scale(2.3);
      // margin: 0 7rem;
      font-size: 1rem;

      &:hover {
        color: green;
      }
    }

    & p {
      margin-top: 1rem;
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 200;
      color: azure;
      text-align: center;
    }
  }
}

.zonetbl-container {
  display: flex;
  flex-direction: row;
  outline: 1px solid gray;
  justify-content: center;
  margin: 1rem 2rem 0 2rem;
  border-radius: 0.5rem;
}

.zone-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 0.5rem 0;

  & i {
    color: green;
    padding: 0.5rem;
    transform: scale(1.5);
  }

  & th {
    padding: 0 0.5rem 0 0.6rem;
    font-size: 1.5rem;
    color: white;
  }
}

///////////////////////////////////
///

.cr-wrapper *,
.cr-wrapper *::before,
.cr-wrapper *::after {
  box-sizing: content-box !important;
}

.cr-wrapper input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cr-wrapper span {
  font-size: 16px;
  color: white;
  margin: 0.5rem 0 0 0;
}

.cr-wrapper {
  display: table;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cr-wrapper input[type="checkbox"] ~ .cr-input {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background: #94a3b8;
  transition: background 250ms;
  border: 1px solid #f1f5f9;
  border-radius: 3px;
  transform: translate(0, -50%);
}

.cr-wrapper input[type="radio"] ~ .cr-input {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background: #94a3b8;
  transition: background 250ms;
  border: 1px solid #f1f5f9;
  border-radius: 19px;
  transform: translate(0, -50%);
}

.cr-wrapper input[type="checkbox"] ~ .cr-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  transition: background 250ms;
  background-color: #ffffff;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr-wrapper input[type="radio"] ~ .cr-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background: #ffffff;
  transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
  display: block;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="checkbox"]:focus ~ .cr-input {
  background: #e2e8f0;
  border-color: #64748b;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="radio"]:focus ~ .cr-input {
  background: #e2e8f0;
  border-color: #64748b;
}

.cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
  background: #40a9bf;
  border-color: #2f7d8e;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
  background: #40a9bf;
  border-color: #2f7d8e;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
.cr-wrapper input[type="radio"]:disabled ~ .cr-input {
  opacity: 0.5;
  cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
  opacity: 0.5;
  cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
  background: #ffffff;
}

.cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
  background: #ffffff;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="checkbox"]:checked:focus ~ .cr-input {
  background: #2f7d8e;
  border-color: #225d69;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="radio"]:checked:focus ~ .cr-input {
  background: #2f7d8e;
  border-color: #225d69;
}
