.settings-modal {
    position: relative;
    margin: 2rem 0 0 0 ;
    border-radius: 1.0rem;
    height: 50rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: $color-primary-dark;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

    & .close {
      position: absolute;
      top: 13px;
      right: 13px;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    & hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1rem 1rem 0 1rem;
      padding: 0;
    }

    &__header {
      height: 10%;
      display: flex;
      flex-direction: row;
      justify-content: center;      
      font-family: sans-serif;

      & h2 {
        font-size: 2rem;
        font-weight: 200;
        margin: 1.8rem 0 0 0;
        color: azure;
      }
    }

    &__container {
      margin-left: 0rem;
      display: flex;
      flex-direction: row;
      justify-content: left;
      height: 100%;

      & h3 {
        max-width: 25rem;
        font-family: sans-serif;
        margin: 1.8rem 0 0 3rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #0964b0;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .menu {
        width: 25%;
        border-right: 1px solid #ccc;
        margin-bottom: 1rem;

        & li {
          list-style-type: none;
          padding: 1rem;
          margin: 1rem;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: sans-serif;
          color: white;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }

        & li:hover {
          background-color: #5075b9;
        }
       
      }

      & .page {
        width: 100%;       
        margin-bottom: .5rem;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: sans-serif;
        color: white;

        &__general {
          display: flex;
        }

        &__test {
          display: none;
          flex-direction: column;

           & .container {
            margin: 2rem 2rem 0 2rem;
            display: flex;
            flex-direction: column;
           }

           & button {
            margin-top: 1rem;
            height: 4rem;
            width: 10rem;
            background-color: #0964b0;
            color: white;
            outline: 1px solid #ccc;
            border-radius: .5rem;
           }

           & button:hover {
            background-color: #5075b9;
           
           }
        }
      }
    }

    &__button {
      width: 30%;
      height: 5rem;
      margin-bottom: 2rem;
    }
  }