.sidenav {
  display: block;
  width: 90%;
  background: $color-secondary-dark;
  height: 100rem;
  margin: 2rem 1rem 0 1rem;
  border-radius: .7rem;
  box-shadow: 0 1rem 2rem rgba(black, .2);
  font-size: 1.7rem;
  font-family: sans-serif;
  transition: display 1s ease-in;

  &__ul {
   
    width: 100%;
    color: white;
    
  }

  &__btnlist {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    & span {
      display: flex;
      justify-content: center;
      margin: 1rem 0 0 0;
      padding: 0 0 1rem 0;
      color: #eee;
     
      border-bottom: 1px solid #eee;
      width: 90%;
    }

    & li {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 4rem;
      padding: .8rem 0 0 0;
      margin: 1rem 0 0 0rem;
      background-color: #1B263B;
      color: #eee;
      cursor: pointer;
      // align-content: center;
      // list-style-type: none;

      & i {
        height: 2rem;
        width: 2rem;
        margin: .4rem 0 0 0;
      }

      & i:active {
        transform-origin: 7px;
        transform: rotate(90deg);        
        transition: all .3s;
      }

      &:hover {
        background-color: #222;
      }
     }
  }
}

.alpine__sidenav {
  & > p {
    color:red;
    font-size: 5rem;
  }
}



