// RESET
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is.
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #376ba0;
  // overflow: hidden;
  height: 100%;
  width: 100%;
  // background-image: url('/html/dist/datacenter_img.jpg');
  // background-image: url("/html/dist/dc3_opac1.png");
  // //background-image: none;
  // background-blend-mode: lighten;
  // // background-color:$color-secondary-dark;
  // background-attachment: fixed;

  // // opacity: 0.9;
  // background-size: cover;
  
  }

div {
  // border: 2px solid black;
}

.test1 {
  font-size: 10rem;
}

.test {
  width: 5rem;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

.main_view {
  
  width: 100%;
  height: 100%;
}
