{{define "cardsvw" }}
<div class="main-cards" x-data="cards">
  <div class="select-ctnr" @click="onClick($event)">
    <div
      class="select-ctnr__cntrl"
      hx-post="/element/event/click"
      hx-swap="innerHTML"
      hx-target=".cards-container"
      hx-trigger="click"
      hx-vals='js:{
      "type": "button",
      "label": event.target.innerText,
      "view_id": "cardsvw",
      "view_str": "device-selector" }'
    >
      <button type="button" @click="">Unigy</button>
      <button type="button" @click="">Max</button>
      <button type="button" @click="">Touch</button>
      <button type="button" @click="">OneView</button>
      <button type="button" @click="">ComitFS</button>
      <button type="button" @click="">IntraComm</button>
      <button type="button" @click="">NTR</button>
      <button type="button" @click="">VFC</button>
    </div>
  </div>
  <div class="cards-container">
    {{template "tmplt_unigy-cards-view" .}}
  </div>
  {{template "cards-rightnav-snip" .}}
</div>

{{end}}
<!-- def -->
