*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #415A77;
  overflow: hidden; }

.test1 {
  font-size: 10rem; }

.test {
  width: 5rem;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms; }

.hdr {
  height: 6rem;
  background-color: #23324e;
  background-size: cover;
  background-position: top;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .hdr__nav, .hdr__control {
    display: flex;
    flex-direction: row;
    padding: 0rem 2rem;
    font-size: 1.7rem;
    width: 30%;
    background-color: #23324e; }
    .hdr__nav--space-around, .hdr__control--space-around {
      justify-content: space-around; }
      .hdr__nav--space-around i, .hdr__control--space-around i {
        margin-left: 5rem; }
    .hdr__nav > a, .hdr__control > a {
      padding: .7rem;
      margin: 1.0rem -6rem .5rem 0rem;
      font-family: sans-serif;
      text-decoration: none;
      color: #eee;
      display: inline-block;
      transform: translateY(5px);
      transition: all .1s;
      border-bottom: 4px transparent; }
    .hdr__nav > a:hover, .hdr__control > a:hover {
      border-bottom: 4px solid green; }
    .hdr__nav--img, .hdr__control--img {
      transform: scale(0.5);
      border-radius: 1.5rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .hdr__icon {
    align-self: center;
    color: #eee;
    height: 1rem;
    transform: scale(2.3);
    font-size: 1rem; }
    .hdr__icon:hover {
      color: green; }
  .hdr__dropdown {
    float: left;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: all .1s; }
    .hdr__dropdown:hover {
      border-bottom: 4px solid green; }
  .hdr__dropdown .hdr__dropbtn {
    margin: 1rem 0 0rem 0;
    font-size: 16px;
    border: none;
    outline: none;
    color: #eee;
    padding: 14px 8px;
    background-color: inherit;
    font-family: sans-serif;
    text-decoration: none;
    z-index: 1;
    cursor: pointer; }
  .hdr__dropdown-content {
    display: none;
    position: absolute;
    top: 6rem;
    background-color: #23324e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .hdr__dropdown-content a {
      float: none;
      color: #eee;
      padding: 12px 16px;
      text-decoration: none;
      font-family: sans-serif;
      display: block;
      text-align: left;
      width: 100%; }
    .hdr__dropdown-content a:hover {
      background-color: #0D1B2A;
      color: #eee; }

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem 15fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "_header" "_main" "_footer"; }

.header {
  grid-area: _header; }

.footer {
  grid-area: _footer; }

.activity {
  width: 100%; }

.main {
  grid-area: _main;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.sidenav {
  display: block;
  width: 90%;
  background: #0D1B2A;
  height: 87rem;
  margin: 2rem 1rem 0 1rem;
  border-radius: .7rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  font-size: 1.7rem;
  font-family: sans-serif;
  transition: display 1s ease-in; }
  .sidenav__ul {
    width: 100%;
    color: white; }
  .sidenav__btnlist {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .sidenav__btnlist span {
      display: flex;
      justify-content: center;
      margin: 1rem 0 0 0;
      padding: 0 0 1rem 0;
      color: #eee;
      border-bottom: 1px solid #eee;
      width: 90%; }
    .sidenav__btnlist li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 4rem;
      padding: .8rem .5rem 0 1.5rem;
      margin: .1rem 0 0 0rem;
      background-color: #1B263B;
      color: #eee;
      cursor: pointer; }
      .sidenav__btnlist li i {
        height: 2rem;
        width: 2rem;
        margin: .4rem 0 0 0; }
      .sidenav__btnlist li:hover {
        background-color: #222; }
    .sidenav__btnlist input {
      height: 3rem;
      width: 90%;
      margin: 1rem 0 1rem 0;
      font-size: large;
      border-radius: 5px; }
    .sidenav__btnlist input:focus {
      background-color: #222;
      color: white; }

.alpine__sidenav > p {
  color: red;
  font-size: 5rem; }

.rotate_fwd {
  transform-origin: 7px;
  transform: rotate(90deg);
  transition: all .3s; }

.rotate_back {
  transform-origin: 7px;
  transform: rotate(0deg);
  transition: all .3s; }

.list_container__ul {
  display: flex;
  max-height: 70rem;
  overflow-y: auto;
  display: block; }
  .list_container__ul li {
    display: flex;
    opacity: 1;
    transition: opacity 1s ease-in;
    align-content: space-between; }
  .list_container__ul p {
    display: flex;
    align-content: space-between; }

.my-indicator {
  display: none; }

.htmx-request .my-indicator {
  display: inline; }

.htmx-request.my-indicator {
  display: inline; }

.buttons {
  height: 5rem;
  width: 80%;
  border-radius: 4px;
  margin-bottom: 1rem;
  align-self: center; }
  .buttons * {
    height: 9rem;
    padding: 5rem;
    margin: 1rem;
    border-radius: 1.1rem; }

/* The Modal (background) */
.fileupload-modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  opacity: 1; }
  .fileupload-modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    animation-name: animatetop;
    animation-duration: 0.5s; }
  .fileupload-modal .close {
    position: absolute;
    top: 0;
    right: 5px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .fileupload-modal .close:hover,
  .fileupload-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

/* Add Animation */
@keyframes animatetop {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

input[type="file"] {
  display: none; }

/* ------------------------ */
.upload-form {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center; }
  .upload-form__container {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    height: 100%; }
    .upload-form__container h3 {
      max-width: 25rem;
      font-family: sans-serif;
      margin: 1.8rem 0 0 3rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #0964b0;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .upload-form__button {
    width: 30%;
    height: 5rem;
    margin-bottom: 2rem; }

.progress {
  width: 100%;
  height: 1rem;
  margin-top: 1rem; }

.settings-modal {
  position: relative;
  margin: 2rem 0 0 0;
  border-radius: 1.0rem;
  height: 50rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #23324e;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .settings-modal .close {
    position: absolute;
    top: 13px;
    right: 13px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; }
  .settings-modal hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 1rem 0 1rem;
    padding: 0; }
  .settings-modal__header {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif; }
    .settings-modal__header h2 {
      font-size: 2rem;
      font-weight: 200;
      margin: 1.8rem 0 0 0;
      color: azure; }
  .settings-modal__container {
    margin-left: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100%; }
    .settings-modal__container h3 {
      max-width: 25rem;
      font-family: sans-serif;
      margin: 1.8rem 0 0 3rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #0964b0;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .settings-modal__container .menu {
      width: 25%;
      border-right: 1px solid #ccc;
      margin-bottom: 1rem; }
      .settings-modal__container .menu li {
        list-style-type: none;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: sans-serif;
        color: white;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer; }
      .settings-modal__container .menu li:hover {
        background-color: #5075b9; }
    .settings-modal__container .page {
      width: 100%;
      margin-bottom: .5rem;
      font-size: 1.6rem;
      font-weight: 500;
      font-family: sans-serif;
      color: white; }
      .settings-modal__container .page__general {
        display: flex; }
      .settings-modal__container .page__test {
        display: none;
        flex-direction: column; }
        .settings-modal__container .page__test .container {
          margin: 2rem 2rem 0 2rem;
          display: flex;
          flex-direction: column; }
        .settings-modal__container .page__test button {
          margin-top: 1rem;
          height: 4rem;
          width: 10rem;
          background-color: #0964b0;
          color: white;
          outline: 1px solid #ccc;
          border-radius: .5rem; }
        .settings-modal__container .page__test button:hover {
          background-color: #5075b9; }
  .settings-modal__button {
    width: 30%;
    height: 5rem;
    margin-bottom: 2rem; }

.table-row-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  top: 2rem;
  height: 0;
  width: 95%;
  background-color: #23324e;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #131212;
  transition: height 0.3s ease-out 1s;
  font-size: 2rem;
  font-family: sans-serif;
  color: white;
  opacity: 0;
  overflow: hidden;
  z-index: 1000; }
  .table-row-summary__on {
    animation: show 300ms 0ms ease-in forwards; }
  .table-row-summary__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

@keyframes show {
  100% {
    opacity: 1;
    height: 15rem;
    padding: 2rem; } }

.testclass {
  transition: background-color 5.5s; }

.labsys-table {
  margin: 2rem 6rem 0 2rem;
  border-radius: 5px;
  opacity: 1;
  animation-name: animatetop;
  animation-duration: 0.3s;
  overflow: auto;
  height: 95%; }

table.blueTable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  text-align: center;
  border-collapse: separate;
  border-radius: 0.7rem;
  table-layout: fixed;
  width: 100%; }

table.blueTable td,
table.blueTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
  word-wrap: break-word; }

table.blueTable tbody td {
  font-size: 13px; }

th:first-child {
  border-left: none;
  border-radius: 0.7rem 0 0 0; }

th:last-child {
  border-left: none;
  border-radius: 0 0.7rem 0 0; }

table.blueTable tr:nth-child(even) {
  background: #d0e4f5; }

table.blueTable thead {
  background: #23324e;
  background: -moz-linear-gradient(top, #5a657a 0%, #39465f 66%, #23324e 100%);
  background: -webkit-linear-gradient(top, #5a657a 0%, #39465f 66%, #23324e 100%);
  background: linear-gradient(to bottom, #5a657a 0%, #39465f 66%, #23324e 100%);
  border-bottom: 2px solid #444444;
  border-radius: 0.5rem; }

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
  cursor: pointer; }

table.blueTable thead th:first-child {
  border-left: none; }

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444; }

table.blueTable tfoot td {
  font-size: 14px; }

table.blueTable tfoot .links {
  text-align: right; }

table.blueTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px; }

table.blueTable thead th {
  text-align: center;
  position: relative; }

table.blueTable .data-row:hover {
  cursor: pointer;
  background-color: #1b70b6; }

@keyframes animatetop {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.tbl-hdr-modal {
  color: white;
  height: 15rem;
  width: 15rem;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: #23324e;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212; }
  .tbl-hdr-modal__text {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem; }
  .tbl-hdr-modal__close {
    color: white;
    font-size: 2.5rem;
    margin: 0.2rem 0.6rem 0 0;
    cursor: pointer;
    align-self: flex-end; }

.activity-sidenav {
  width: 15%;
  height: 100rem; }

.activity-main {
  width: 85%;
  height: 100rem; }
